input {
    background-color: white;
    color: black;
    border: solid 1px black;
}

body {
    background-color: rgba(243, 244, 246);
}

button {
    border: solid 1px black;
}

h1 {
    font-size: 30px;
}

#email {
    width: 300px;
    height: 20px;
}

div {
    text-align: center;
}

label {
    vertical-align: top;
}

h1 {
    text-align: center;
}

textarea {
    width: 300px;
    height: 200px;
    resize: none;
}

p {
    text-align: center;
}

table {
    background-color: white;
    border: solid 1px black;
    margin: 0 auto;
}

th {
    border: solid 1px black;
}

td {
    border: solid 1px black;
}

#btn_back {
    display: block;
    margin: auto;
}

#admin_btn {
    text-align: right;
}

#contact {
    margin: 20px auto;
}

#contact td {
    text-align: left;
    width: 200px;
}

#reply {
    margin-top: 50px;
}

div h1 {
    font-weight: bold;
    margin: 20px auto;
}

table #contactCulumn {
    text-align: center;
}

tr #contactNum {
    text-align: center;
    align-items: center;
    width: 120px;
}

tr #contactList {
    height: 20px;
    width: 0px;
    align-items: center;
    text-align: center;
}

tr #contactBtn {
    width: 50px;
    text-align: center;
}

#contactBtn button {
    margin: 5px auto;
    background-color: white;
    font-weight: bold;
}

#contactBtn button:hover {
    background-color: gray;
}

tr button {
    margin: 5px auto 5px;
    width: 50px;
    height: 30px;
}

tr #contactBtn {
    height: 50px;
}

#reply textarea {
    resize: none;
}

#backBtn input {
    background-color: white;
    font-weight: bold;
}

#contactBtn input {
    background-color: white;
    font-weight: bold;
}

#backBtn input:hover {
    background-color: gray;
}

#contactBtn input:hover {
    background-color: gray;
}

div #contact th {
    width: 300px;
}

div form input {
    font-weight: bold;
    margin-top: 20px;
    width: 50px;
    height: 30px;
    text-align: center;
    align-items: center;

}

#replyspace {
    margin: 50px auto 50px;
    width: 300px;
    max-width: 300px;
    max-height: 600px;
}

#replyspace input:hover {
    background-color: gray;
}

#confirm {
    width: 300px;
    max-width: 300px;
    max-height: 600px;
}

#inputBtn:hover{
    background-color: gray;
}